<a href="https://colab.research.google.com/github/kplr-training/Data-Preparation/blob/main/3-Data-Transformation/Exercices-et-Solutions/Solutions.ipynb" target="_blank"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exercice 1 :** Rechercher et supprimer de valeurs en double

In [1]:
import numpy as np
import pandas as pd

In [2]:
données = pd . DataFrame ({ "a" :[ 1 , 5 ] * 3 , "b" :[ 1 , 1 , 2 , 3 , 2 , 3 ]}) 
données

   a  b
0  1  1
1  5  1
2  1  2
3  5  3
4  1  2
5  5  3

Ecrire un programme Pandas qui sert à afficher les duplicates et de les supprimer par la suite

In [ ]:
#solution

Double-click __here__ for the solution.

<!-- Your answer is below:
#Pour voir si la ligne est répétée ou non, vous pouvez utiliser la méthode duplicated(). 
données.duplicated()
#Pour supprimer les lignes en double, vous pouvez utiliser la méthode drop_duplicates qui renvoie une trame de données. 
données.drop_duplicates ()
-->

**Exercice 2 :** Mapping

In [8]:
import pandas as pd
data={'Name':['A','B','C','D'],'Age':[42,54,20,63]}
df=pd.DataFrame(data,index=['value1','value2','value3','value4'])
df

       Name  Age
value1    A   42
value2    B   54
value3    C   20
value4    D   63

In [9]:
score={'A':24,'B':30,'C':36,'D':42}
# Conversion du premier caractère du nom en majuscule pour que les noms soient identiques. 
n=df["Name"].str.capitalize()
n

value1    A
value2    B
value3    C
value4    D
Name: Name, dtype: object

Ecrire un programme Pandas qui sert à ajouter la variable de score à l'ensemble de données df à l'aide de la méthode map().

In [ ]:
#solution

Double-click __here__ for the solution.

<!-- Your answer is below:
df [ "Score" ] = n . carte ( score ) 
df
-->

**Exercice 3 :** Remplacement

In [12]:
s = pd.Series([ 14 , 55 , 87 , 966 , 78 , 44 ]) 
s

0     14
1     55
2     87
3    966
4     78
5     44
dtype: int64

Ecrire un programme Pandas qui permet de remplacer la valeur de 87 par nan

In [ ]:
#solution

Double-click __here__ for the solution.

<!-- Your answer is below:
#replacing the value.
s.replace(87,np.nan)
-->

Ecrire un programme Pandas qui permet de remplacer les valeurs 78 et 14 par nan et 566 respectivement

In [ ]:
#solution

Double-click __here__ for the solution.

<!-- Your answer is below:
#replacing multiple values.
s.replace([78,14],[np.nan,566])
-->

**Exercice 4 :** Renaming

In [13]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.arange(12).reshape(3,4),index=[0,1,2],columns=["a","b","c","d"])
df

   a  b   c   d
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [14]:
#Create a variable and pass it into the dataset
s=pd.Series(["one","two","three"])
df.index=df.index.map(s)
df

       a  b   c   d
one    0  1   2   3
two    4  5   6   7
three  8  9  10  11

Mettez en majuscule les noms de ligne et de colonne avec la méthode de renommage

![image](https://user-images.githubusercontent.com/123748165/226334330-bbd36d49-8a54-4a71-a734-9db99c0e79ae.png)

In [ ]:
#solution

Double-click __here__ for the solution.

<!-- Your answer is below:
df.rename(index=str.title,columns=str.upper)
-->

**Exercice 5 :** Trouver des valeurs spécifique dans un ensemble de données

In [17]:
data = pd . DataFrame ( np . random . randn ( 1000 , 4 )) 
data

            0         1         2         3
0    1.616920 -0.642890  0.794632 -0.735338
1   -0.837791  1.458693  0.172070 -0.602371
2   -1.152141 -1.788366 -0.219525  0.712704
3    1.181751  0.178818  0.377092 -0.377373
4    0.467218  1.157019 -1.429485 -1.818803
..        ...       ...       ...       ...
995  0.795813  0.264559  2.136728 -1.027800
996 -1.734192  0.685263  1.300703  0.782458
997  0.293207 -0.819040 -0.569724 -1.651684
998  1.595878 -0.061226  2.434815  0.047087
999 -0.709029 -1.053145 -0.442337  0.403489

[1000 rows x 4 columns]

In [18]:
data.head()

          0         1         2         3
0  1.616920 -0.642890  0.794632 -0.735338
1 -0.837791  1.458693  0.172070 -0.602371
2 -1.152141 -1.788366 -0.219525  0.712704
3  1.181751  0.178818  0.377092 -0.377373
4  0.467218  1.157019 -1.429485 -1.818803

recherchons les valeurs dont la valeur absolue dépasse 3 dans une colonne avec l'index 1.

In [19]:
#solution

Double-click __here__ for the solution.

<!-- Your answer is below:
col = données [ 1 ]
col [ np . abs ( col ) > 3 ]
-->

**Exercice 6 :** One hot Encoding

In [21]:
import pandas as pd

ids = [11, 22, 33, 44, 55, 66, 77]
countries = ['Spain', 'France', 'Spain', 'Germany', 'France']

df = pd.DataFrame(list(zip(ids, countries)),
                  columns=['Ids', 'Countries'])

In [22]:
df.head()

   Ids Countries
0   11     Spain
1   22    France
2   33     Spain
3   44   Germany
4   55    France

Convertissez les valeurs de la colonne Countries en vecteurs one hot encoding :

![image](https://user-images.githubusercontent.com/123748165/226334556-ce5ab9be-b2e8-4ca9-90b8-55b35fbc719f.png)

In [ ]:
#solution

Double-click __here__ for the solution.

<!-- Your answer is below:
y = pd.get_dummies(df.Countries, prefix='Country')
print(y.head())
-->